body{
  background-color: #1b1c31;
  margin: 0;
}
header{
  background-color: #1b1c31;
  color: white;
  text-align: center;
  font-size: large;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f8;
  margin: 0 auto 2rem;
  width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0.7rem 0.7rem #aeacaf;
}
.container h5{
  text-align: center;
}
.searchContainer p{
  margin: 0.5rem;
}
.searchContainer button{
  width: 5rem;
  border-radius: 2rem;
  height: 2rem;
  background-color: #7825a5;
  color: white;
  border: none;
}
.clearButton {
  width: 5rem;
  border-radius: 2rem;
  height: 2rem;
  background-color: #7825a5;
  color: white;
  border: none;
}
.backButton {
  width: 5rem;
  border-radius: 2rem;
  height: 2rem;
  background-color: #7825a5;
  color: white;
  border: none;
  margin: 1rem 0 1rem;
}
.searchContainer input{
  width: 8rem;
  height: 1.4rem;
  margin: 0 0 1rem;
}
.infoContainer{
  display: flex;
  flex-direction: column;
  background-color: #f0f1f6;
  width: 90%;
}
.infoContainer .name{
  margin: 0.2rem;
  font-size: 1.2rem;
}
.infoContainer .size{
  margin: 0.2rem;
  font-size: 0.9rem;
}
.infoContainer img{
  align-self: center;
  width: 10rem;
  margin: 2rem 0;
}
.pokemonCard {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.element{
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.2rem;
  /*background-color: #fbcd3b;*/
  margin: 0.2rem 0 0.5rem 0.2rem;
}
.element p{
  margin: 0.2rem;
  font-size: 0.7rem;
}
.stats {
  width: 100%;
}
.stats table{
  /*margin: 0 0 2rem;*/
  color: white;
  text-align: center;
  width: 100%;
}
.stats table td{
  margin: 0.2rem;
  background-color: #7825a5;
  height: 1.9rem;
}
.stats table th{
  margin: 0.2rem;
  background-color: #7825a5;
  height: 1.9rem;
}
.pokemonTable tbody{
  margin: 0 0 2rem;
  color: white;
  text-align: center;
  width: 100%;
}
.pokemonTable tbody tr{
  margin: 0.2rem;
  background-color: #7825a5;
  height: 1.9rem;
}
.pokemonTable thead tr{
  margin: 0.2rem;
  background-color: #7825a5;
  height: 1.9rem;
  color : white;
}